In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [25]:
df = pd.read_csv('homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [26]:
me = df.bedrooms.median()
me

4.0

In [27]:
df.bedrooms = df.bedrooms.fillna(me)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [28]:
x = df.drop('price', axis = 'columns')
y = df.drop('area', axis = 'columns')
y = y.drop('bedrooms', axis = 'columns')
y = y.drop('age', axis = 'columns')
print(x)
print(y)

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.0   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8
    price
0  550000
1  565000
2  610000
3  595000
4  760000
5  810000

In [29]:
m_reg = linear_model.LinearRegression()
m_reg.fit(x, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [30]:
m_reg.intercept_

array([221323.0018654])

In [31]:
m = m_reg.coef_
m

array([[  112.06244194, 23388.88007794, -3231.71790863]])

In [32]:
x1 = 3000
x2 = 3
x3 = 40
y1 = m[0][0]*x1 + m[0][1]*x2 + m[0][2]*x3 + c
y1

array([498408.25158031])

In [33]:
m_reg.predict([[3030,5,45]])

array([[532389.29545128]])